.disney{
    color: blue;
}
.diaobao{
    color: yellow;
}
/* 交集选择器，标签名必须写在前面，比较常用的是元素选择器配合类名选择器 */
p.diaobao{
    color: palevioletred;
}
span.disney{
   color: greenyellow;
}
/* 并集选择器
1、一般竖着写
2、任何形式的选择器都可以作为并集选择器的一部分 */
/* 类名为diaobao或者disney的样式 */
.diaobao,
.disney{
    font-size: 80px;
    background-color: bisque;
}
/* 后代选择器,包含元素的所有子 */
/* 元素选择器之间组合*/
ul li{
    color: rebeccapurple;
}
/* 类选择器和id选择器也可以参与组合 */
ol li.first{
   background-color: antiquewhite;
   width: 40px;
}
/* 子代选择器 */
.introduce>p{
    background-color: red;
}
/* 兄弟选择器 */
/* 通用兄弟选择器，选中p标签之后所有的span元素 */
p~span{
    font-size: 100px;
}
/* 相邻兄弟选择器，选中p标签后紧紧相邻的兄弟p元素 */
p+span{
    color: #000;
}
/* 属性选择器1 */
/* 选中具有title属性的元素 */
[title]{
    color: aquamarine;
}
/* 属性选择器2 */
/* 选中具有某种属性，且属性值是为shanghai1的元素 */
[title="上海1"]{
    background-color:rosybrown;
}
/* 属性选择器3 */
/* 选中具有title属性，并且以sh开头的 */
[title^="sh"]{
    background-color: black;
}
/* 属性选择器4 */
/* 选中title属性以1结尾的元素 */
[title$="1"]{
    font-size: 80px;
}
/* 属性选择器5 */
/* 选中title属性包含s的元素 */
[title*="s"]{
    color: burlywood;
}