/* h1为选择器，花括号里的是声明块，里面的是声明 */
/* 每个声明的格式是名值对的形式，名和属性之间有空格，末尾有分号 */
h1 {
    color: blueviolet;
    font-size: 80px;
  }
h2 {
    color: blanchedalmond;
    font-size: 60px;
  }
img {
    width: 200px;
  }